@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", sans-serif;
}

.modal-content {
  background-color: rgba(14, 13, 13, 0.74);
  border: 0;
  border-radius: 0;
  outline: 0;
  color:#fff;
  padding: 15px;
}

.modal-header {
  padding: 0 0 15px;
  border-bottom: 1px solid #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.close {
  font-size: 30px;
  font-weight: 100;
  color: #fff;
  text-shadow: none;
  opacity: 1;
  position: relative;
  top: 1px;
}

.modal-title {
  font-weight: 400;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 1;
  color: #fff;
}

.modal-dialog .table-sm td,
.modal-dialog .table-sm th {
  color: #fff;
}

.modal-dialog .table-sm td {
  padding: 15px;
  text-align: center;
}

.modal-footer {
  padding-bottom: 0;
}

.modal-dialog .table-sm th {
  padding: 15px;
}

.modal-dialog {
  max-width: 1000px;
}

.modal-dialog .table-bordered td,
.modal-dialog .table-bordered th {
  border: 1px solid #454d55;
  vertical-align: middle;
  background: #343a40;
}

.color-green span {
  width: 100%;
  display: block;
  text-align: center;
  background: green;
  padding: 15px;
}

.modal-dialog .table-bordered td.color-green {
  background: green;
}

.color-nonDedupe span {
  width: 100%;
  display: block;
  text-align: center;
  background: rgba(25, 29, 26, 0.699);
  padding: 15px;
}

.modal-dialog .table-bordered td.color-nonDedupe {
  background: rgb(19, 22, 20);
  color: rgb(116, 119, 117);
}

.modal-dialog .table-bordered th.color-nonDedupe {
  background: rgb(19, 22, 20);
  color: rgb(116, 119, 117);
}

.modal-input {
  border: 1px solid #454d55;
  vertical-align: middle;
  background: #343a40;
  color: #fff;
}

.loader-spiner {
  width: calc(100vw - 15px);
  height: calc(100vh - 15px);
  z-index: 100000000;
}

.loader-spiner ._loading_overlay_overlay{
  z-index: 100000;
  opacity: 0.5;
}

.container-without-scroll {
  max-width: calc(100vw - 15px);
  max-height: calc(100vh - 15px);
  overflow: hidden;
}

.modal-backdrop.show {
  z-index: 100000000;
}

.modal-open .modal {
  z-index: 100000001;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

tr.border_bottom td {
  border-bottom:3pt solid rgb(243, 243, 243);
}